{% extends "saas/sass-layout.html.twig" %}

{% set pageName = 'home' %}

{% block body %}
  <section class="title">
    <img src="{{ asset('img/background1.jpg')}}"/>
    {# <h2>Créez des cartes à gogo!</h2> #}
    <button class="btn btn-primary-neutral">Découvrir</button>
   
  </section>

  <section class="video gogo-bg-primary">
    <iframe class="video-demo" sandbox="allow-same-origin allow-scripts" src="https://video.colibris-outilslibres.org/videos/embed/62279fe4-06d9-4fdc-8e0d-3d5de3c05072" frameborder="0" allowfullscreen></iframe>
  </section>

  <section class="projects">
     <div class="actions">
      <p>
        <a href="{{ path('gogo_saas_new_project') }}"><button class="btn btn-primary-neutral new-project">Créer un projet</button></a> {# TODO translation #}
      </p>

      <p class="secondary-buttons">
        <a href="https://doc.gogocarto.fr" target="_blank">
          <button class="btn btn-outline-neutral btn-doc"><img src="{{ asset('img/icon-question.png') }}"></img>Documentation</button> {# TODO translation #}
        </a>
        <a href="https://gitlab.com/seballot/gogocarto" target="_blank">
          <button class="btn btn-outline-neutral btn-repo"><img src="{{ asset('img/icon-code.png') }}"></img>Code Source</button> {# TODO translation #}
        </a>
        {% if config.saas.donationUrl %}
        <a href="{{ config.saas.donationUrl }}" target="_blank">
          <button class="btn btn-outline-neutral btn-donate"><img src="{{ asset('img/icon-heart.png') }}"></img></i>Faire un Don</button> {# TODO translation #}
        </a>
        {% endif %}
      </p>
    </div>
  </section>

  {% if pinnedProjects|length > 0 %}   
    <div class="pinned-projects-container">
      <img class="img-hand before" src="{{ asset('img/hand.png') }}"/>
      <img class="img-hand after" src="{{ asset('img/hand-2.png') }}"/>
      <section class=" projects">
        <h2>Projets mis en avant</h2> {# TODO translation #}
        <div class="pinned-projects projects-container">
          {% for project in pinnedProjects %}
            {% include 'saas/projects/project.html.twig' with {'project' : project } %}
          {% endfor %}
        </div>      
      </section>
    </div>
  {% endif %}

  <div class="all-projects-container">
    <section class="projects">
      <h2><img src="{{ asset('img/bike.png') }}">Tous les projets ({{ projects|length }})</h2> {# TODO translation #}
      <div class="project-list" id="project-list">
        <div class="search-container">
          <input class="search" placeholder="Chercher par nom, par tag" />
          <button class="sort btn btn-sm btn-neutral" data-sort="published-at-int">Trier par date de publication</button> {# TODO translation #}
          <button class="sort btn btn-sm btn-neutral" data-sort="size">Trier par nombre de points</button> {# TODO translation #}
        </div>
        <div class="list projects-container">
          {% for project in projects %}
            {% include 'saas/projects/project.html.twig' with {'project' : project } %}
          {% endfor %}
        </div>
        <ul class="pagination"></ul>
      </div>
    </section>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/list.js?ver=' ~ version) }}"></script>
  <script>
  var userList = new List('project-list', {
    valueNames: [ 'name', 'tags', 'size', 'published-at-int' ],
    page: 36,
    pagination: [{
      paginationClass: "pagination",
      innerWindow: 1,
      left: 1,
      right: 1
    }]
  });
  userList.sort('published-at-int', { order: 'desc'});
  $('section.title').on('click', function() {
    $(this).toggleClass('reduced')
  })
  </script>
{% endblock %}